//- navbar

mixin navbar(container)
  nav.navbar&attributes(attributes)
    case container
      when 'fluid'
        .container-fluid
          block
      when true
        .container
          block
      default
        block

mixin navbar-header
  .navbar-header
    block

mixin navbar-brand(text, href)
  a.navbar-brand(href=href) 
    block
    | #{text}

mixin navbar-right
  .navbar-right
    block  

//- nav

mixin nav
  ul.nav(role='tablist')&attributes(attributes)
    block

mixin nav-navbar
  +nav(class='navbar-nav')&attributes(attributes)
    block

mixin nav-item(href, active, toggle)
  - var cls = active === true ? 'active' : undefined
    li(role='presentation', class=cls)
      if toggle
        a(role='tab', data-toggle='tab', href=href)
          block
      else
        a(href=href)
          block

mixin nav-vertical
  +nav(class=['nav-pills', 'nav-stacked'])
    block

mixin nav-primary
  +nav(class=['nav-pills', 'nav-primary'])
    block

mixin nav-underline(size)
  +nav(class=['nav-pills',
   'nav-underline',
    size ? 'nav-' + size : undefined ])&attributes(attributes)
    block


//- tabs

mixin tabs
  +nav('nav-tabs')

mixin tab-item(href, active)
  +nav-item(href, active, true)

mixin tab-content
  .tab-content
    block

mixin tab-pane(id, active)
  - var cls = active === true ? 'in active' : undefined
  .tab-pane.fade(role='tabpanel', id=id, class=cls)
    block
