
mixin nav(type)
  ul.nav(class=type, role='tablist')
    block

mixin nav_item(href, active)
  - var cls = active === true ? 'active' : undefined
    li(role='presentation', class=cls)
      a(role='tab', data-toggle='tab', href=href)
        block

mixin tabs
  +nav('nav-tabs')

mixin tab_content
  .tab-content
    block

mixin tab_pane(id, active)
  - var cls = active === true ? 'in active' : undefined
  .tab-pane.fade(role='tabpanel', id=id, class=cls)
    block
